<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bot study</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/dropdown.css">
</head>

<body>

<div class="app-view">
    <section id="dateNow">

    </section>
    <div class="drop-down">
        <input type="checkbox" id="toggle">
        <label for="toggle">&#9776;</label>
        <nav id="nav">
            <ul>
                <li><a href="./learningMo.html">Learning Modules</a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Twitter;</a></li>
            </ul>
        </nav>

    </div>

    <!-- showcase -->
    <div class="container">
        <h1 id="hello" ></h1>
        <h2><span id="time"></span></h2>
         <a href="./learningMo.html" id="lets-go" class="btn">lets go!</a>
    </div>
    <!-- <figure class="home-img img-1"><img src="../../images/picon.jpeg" alt="" width="100%"></figure> -->
    <figure class="home-img img-2" ><img src="../../images/picon2.png" alt="" width="100%"></figure>
    <figure class="home-img img-3"><img src="../../images/picon.jpeg" alt="" width="100%"></figure>
    
</div>
    

    <script src="../../scripts/home.js"></script>
</body>

</html>