<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning modules</title>
    <link rel="stylesheet" href="../css/lnmodel.css">
</head>

<body>
    <header class="group">
        <div class="container-header">
            <h1 class="logo"><a href="./home.html">studybot</a> </h1>
            <a href="">settings</a>
        </div>

    </header>
    <div class="container group">

        <section class="ln-models">

            <h1 class="model model-1">node js</h1>
            <h1 class="model model-2">SW engineering</h1>
            <h1 class="model model-3">angular</h1>
            <h1 class="model model-4">python</h1>
            <h1 class="model model-5">javascript</h1>

        </section>
        <section class="stats-sec">
            <div class="stats">
                <img src="../../images/stats.jpeg" width="100%" heigt="100%" alt="">

            </div>
            <figure class="add">
                <a href="" ass="add-mdl">+</a>
                <p>add learning model</p>
            </figure>



        </section>

    </div>
</body>

</html>