<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning modules</title>
    <link rel="stylesheet" href="../css/lnmodel.css">
    <link rel="stylesheet" href="../css/sub_module.css">
    <link rel="stylesheet" href="../css/scroolbar.css">
</head>

<body>
    <header class="group header-dashboard">
        <div class="container-header submodule-header">
            <h1 class="logo-dashboard"><a href="./learningMo.html">studybot</a> </h1>
            <h2 class="module">node js</h2>
            <a href="">settings</a>
            <a href="/users/logout" class="logout">logout</a>

        </div>

    </header>
    <div class="container-dashboard group container-submodule">

        <section class="ln-models sub-modules">

            <h1 class="model model-1"> <a href="">node js</a></h1>
            <h1 class="model model-2"><a href="" >SW engineering</a> </h1>
            <h1 class="model model-3"> <a href="">angular</a> </h1>
            <h1 class="model model-4"><a href="">python</a></h1>
            <h1 class="model model-5"><a href="">javascript</a></h1>
            <h1 class="model model-1"> <a href="">node js</a></h1>
            <h1 class="model model-2"><a href="" >SW engineering</a> </h1>
            <h1 class="model model-3"> <a href="">angular</a> </h1>
            <h1 class="model model-4"><a href="">python</a></h1>
            <h1 class="model model-5"><a href="">javascript</a></h1>
            <h1 class="model model-1"> <a href="">node js</a></h1>
            <h1 class="model model-2"><a href="" >SW engineering</a> </h1>
            <h1 class="model model-3"> <a href="">angular</a> </h1>
            <h1 class="model model-4"><a href="">python</a></h1>
            <h1 class="model model-5"><a href="">javascript</a></h1>

        </section>
        <figure class="add add-submodule">
            <a href="" class="add-mdl">+</a>
            <p>add sub topic</p>
        </figure>
        <section class="stats-sec sub-stats-sec">
            <div class="stats sub-timer">

                <h1 class="timer">00 : 00 : 00</h1>
            </div>
           
        </section>

        
    </div>


    
        <a href="#scroll" class="scroll-btn">statistics</a>
    

    <section class="sub-modules-stats group" id="scroll">
        <figure class="sub-graph">

        </figure>
        <div class="info-interprated">

        </div>

     </section>
     <div class="footer">
         <small>&copy; bot study 2020</small>
     </div>
  
     <script src="../../scripts/scroll.js"></script>
     <script src="../../scripts/scroll_down.js"></script>
</body>

</html>