/* header */
.submodule-header a{
    color: rgb(68, 68, 68);
}
.container-header .module{
    float: left;
    margin-left: 30%; 
    padding: 10px 3px 10px 3px;
    font-size: 40px;
    color: rgb(36, 35, 35);
}
.submodule-header .logo-dashboard{
    font-size: 22px;
    color: rgb(68, 68, 68);
}


/* container */
.container-submodule{
    padding-top: 3%;
    height: 550px;
}

/* submodules */

.add-submodule{
    position: absolute;
    left: 5%;
    top: 50%;
    text-align: center;
}
/* sub-stats-sec */
.stats-sec .sub-stats-sec-sec{
    border: none;
}
/* submodule */
.sub-modules{
    height: 450px;

}
/* timer */
.sub-timer {
    text-align: center;
    padding-left: 40%;
    padding-top: 6%;
    border: none;
}
.sub-timer h1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 150px;
    width: 150px;
    border: solid rgb(47, 47, 47) 1px;
    border-radius: 50%;
    text-align: center;
    color: rgb(31, 31, 31);
}

/*  stats section */
.sub-modules-stats{
    height: 300px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-left: 13%;
    padding-right: 15%;
    /* border: solid 1px black; */
}

.sub-graph {
    border: solid 1px black;
    height: 300px;
    width: 40%;
    border-radius: 20px;
    float: left;
}
.info-interprated{
    border: solid 1px black;
    height: 300px;
    width: 40%;
    border-radius: 20px;
    float: right;
}

/* footer */
.footer{
    color: white;
    text-align: center;
    padding: 5px;
    background-color: black;
}

